.drawer-default .drawer-menu-item-sub {
padding: 15px 15px 0;
font-size: 18px;
color: #777; }
.drawer-default .drawer-menu-item-sub.disabled a {
color: #FFF; }
.drawer-default .drawer-menu-item-sub.disabled a:hover, .drawer-default .drawer-menu-item-sub.disabled a:focus {
cursor: not-allowed;
color: #FFF;
background-color: transparent; }
.drawer-default .drawer-menu-item-sub a {
color: #FFF; }
.drawer-default .drawer-menu-item-sub a:hover, .drawer-default .drawer-menu-item-sub a:focus {
color: #777;
background-color: transparent; }
.drawer-default .drawer-menu-item-sub a img {
max-width: none; }
.drawer-default .drawer-submenu {
margin-bottom: 20px; }
.drawer-default .drawer-submenu:last-child {
margin-bottom: 0; }
.drawer-default .drawer-submenu-item-sub {
padding: 0; }
.drawer-default .drawer-submenu-item-sub a {
height: 50px;
line-height: 50px;
font-size: 14px; }
.drawer-default .drawer-submenu-item-sub a:hover, .drawer-default .drawer-submenu-item-sub a:focus {
color: #777; }
.drawer-navbar-default .drawer-menu-item-sub {
padding: 15px 15px 0;
font-size: 18px;
color: #777; }
.drawer-navbar-default .drawer-menu-item-sub.disabled a {
color: #FFF; }
.drawer-navbar-default .drawer-menu-item-sub.disabled a:hover, .drawer-navbar-default .drawer-menu-item-sub.disabled a:focus {
color: #FFF;
background-color: transparent;
cursor: not-allowed; }
.drawer-navbar-default .drawer-menu-item-sub a {
color: #FFF; }
.drawer-navbar-default .drawer-menu-item-sub a:hover, .drawer-navbar-default .drawer-menu-item-sub a:focus {
color: #777;
background-color: transparent; }
.drawer-navbar-default .drawer-menu-item-sub a img {
max-width: none; }
.drawer-navbar-default .drawer-submenu {
margin-bottom: 20px; }
.drawer-navbar-default .drawer-submenu:last-child {
margin-bottom: 0; }
.drawer-navbar-default .drawer-submenu-item-sub {
padding: 0; }
.drawer-navbar-default .drawer-submenu-item-sub a {
height: 50px;
line-height: 50px;
font-size: 14px; }
.drawer-navbar-default .drawer-submenu-item-sub a:hover, .drawer-navbar-default .drawer-submenu-item-sub a:focus {
color: #777; }

.drawer-navbar-default .drawer-menu-item-sub a:hover, .drawer-navbar-default .drawer-menu-item-sub a:focus {
color: #FFF;
text-decoration: none; }
.drawer-navbar-default .drawer-submenu {
margin-bottom: 20px; }
.drawer-navbar-default .drawer-submenu:last-child {
margin-bottom: 0; }
.drawer-navbar-default .drawer-submenu-item-sub a:hover, .drawer-navbar-default .drawer-submenu-item-sub a:focus {
color: #ddd; }
.drawer-navbar-default .dropdown.open > .dropdown-menu {
position: static;
float: none;
width: auto; } }
